<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Peliculas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Peliculas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      @for(pelicula of peliculas; track pelicula.id){
        <ion-col size="12" size-md="3">
          <ion-card class="alto">
            <img src="{{path}}{{pelicula.poster_path}}" alt="">
            <ion-card-header>
              <ion-card-title>{{ pelicula.title}}</ion-card-title>
              <ion-card-subtitle>{{ pelicula.category }}</ion-card-subtitle>
            </ion-card-header>
           
            <ion-card-content>
              {{ pelicula.overview }}
            </ion-card-content>
          </ion-card>
        </ion-col>
      }
    </ion-row>
  </ion-grid>
  
    
  

</ion-content>
